# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.db

# Environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Data files
data/
training_data/
*.csv
*.txt

# Logs
*.log

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
